WPF_API_WCF_CRUD_For_Directory/WebApi_Client_For_WCF/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileIO_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceIO_GetAllFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFiles" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_GetAllFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_Put_InputMessage">
    <wsdl:part name="parameters" element="tns:Put" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_Put_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IServiceIO_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceIO">
    <wsdl:operation name="GetAllFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIO/GetAllFiles" message="tns:IServiceIO_GetAllFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIO/GetAllFilesResponse" message="tns:IServiceIO_GetAllFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIO/Get" message="tns:IServiceIO_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIO/GetResponse" message="tns:IServiceIO_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Put">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIO/Put" message="tns:IServiceIO_Put_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIO/PutResponse" message="tns:IServiceIO_Put_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIO/Post" message="tns:IServiceIO_Post_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIO/PostResponse" message="tns:IServiceIO_Post_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIO/Delete" message="tns:IServiceIO_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIO/DeleteResponse" message="tns:IServiceIO_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceIO" type="tns:IServiceIO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFiles">
      <soap:operation soapAction="http://tempuri.org/IServiceIO/GetAllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IServiceIO/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Put">
      <soap:operation soapAction="http://tempuri.org/IServiceIO/Put" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://tempuri.org/IServiceIO/Post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceIO/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileIO_Service">
    <wsdl:port name="BasicHttpBinding_IServiceIO" binding="tns:BasicHttpBinding_IServiceIO">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Server_For_API/ServiceIO/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>